.plants_item_content {
    &_nav {
        margin-bottom: 20px;

        p {
            font-size: 15px;
            font-weight: 700;
            line-height: 16px;
            text-align: left;
            color: #46A358;
            margin-top: 20px;
        }
    }


}