.categoria {
    margin-top: 20px;
    background-color: #FBFBFB;
    width: 310px;
    padding: 20px;

    &_item {
        h2 {
            color: #3D3D3D;
            font-size: 18px;
            font-weight: 700;
            line-height: 16px;
            text-align: left;

        }

        &_price {
            margin-top: 30px;

        }

        &_sizes {
            margin-top: 30px;

            &_btns {

                &_btn {
                    margin-top: 10px;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    height: 20px;

                    h2 {
                        font-size: 15px;
                        font-weight: 500;
                        line-height: 40px;
                    }

                    p {
                        font-size: 15px;
                        font-weight: 500;
                        line-height: 40px;

                    }

                    &:hover {
                        h2 {
                            color: #46A358;
                            transition: 0.2s;
                        }

                        p {
                            color: #46A358;
                            transition: 0.2s;
                        }
                    }

                }
            }
        }
    }

    &_sale {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 30px;
        img {
            width: 370px;
            height: 470px;
        }
    }
}