.plants {
    &_item {
        display: flex;
        gap: 40px;

        &_cat {
            height: 760px;
        }
    }
}

.find {

    &_item {
        margin-top: 160px;
    }
}

.blogs {
    &_item {
        margin-top: 100px;
    }
}

.footer {
    &_item {
        margin-top: 100px;
    }
}

@media(max-width:1000px) {
    .plants {
        &_item {
         display: block;
        }
    }
}