.categoria {
    &_btns {

        &_btn {
            margin-top: 10px;

            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 40px;
            height: 25px;

            button {
                font-size: 15px;
                font-weight: 700;
                line-height: 40px;
                &.active{
                    color: #46A358;
                    transition: 0.2s;  
                }
            }

            p {
                font-size: 15px;
                font-weight: 700;
                line-height: 40px;

            }

            &:hover {
                button {
                    color: #46A358;
                    transition: 0.2s;
                }

                p {
                    color: #46A358;
                    transition: 0.2s;
                }
            }

        }
    }
}