.cart {

    .title {
        display: flex;
        align-items: center;
        padding: 10px;

        .exit {
            background-color: #F3F3F3;
            width: 35px;
            height: 35px;
            border-radius: 50%;
            padding: 7px;
        }

        h2 {
            font-size: 20px;
            font-weight: 500;
            line-height: 16px;
            color: #3D3D3D;
            text-align: center;
        }
    }

    .title_none {
        display: none;
    }

    &_item {
        display: flex;
        justify-content: space-between;
        margin-top: 50px;

        &_product {
            width: 100%;

            &_infor {
                display: flex;
                justify-content: space-between;
                align-items: center;
                border-bottom: 1px solid #46A35880;
                width: 782px;
                width: 100%;

                padding-bottom: 10px;

                h2 {
                    font-size: 16px;
                    font-weight: 500;
                    line-height: 16px;
                    text-align: left;
                    color: #3D3D3D;
                    flex: 1;
                }

                h2:nth-child(1) {
                    flex: 1.8;
                }

                h2:nth-child(2) {
                    flex: 1;
                }

                h2:nth-child(3) {
                    flex: 1.2;
                }

                h2:nth-child(4) {
                    flex: 1.2;
                }
            }

            &_elem {
                max-height: 450px;
                margin-top: 10px;
                overflow: auto;
                width: 100%;

                &::-webkit-scrollbar {
                    display: none;
                }

                scrollbar-width: none;

                &_cards {


                    &_card {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        background-color: #FBFBFB;
                        margin-top: 10px;
                        max-width: 782px;
                        padding: 8px;

                        &_infor {
                            display: flex;
                            align-items: center;
                            gap: 5px;

                            img {
                                width: 70px;
                                height: 70px;
                            }

                            .title {
                                h4 {
                                    font-size: 16px;
                                    font-weight: 500;
                                    line-height: 16px;
                                    text-align: left;
                                    color: #3D3D3D;
                                }

                                p {
                                    font-size: 14px;
                                    font-weight: 400;
                                    line-height: 16px;
                                    text-align: left;
                                    color: #727272;
                                    margin-top: 5px;

                                    span {
                                        font-size: 14px;
                                        font-weight: 400;
                                        line-height: 16px;
                                        text-align: left;
                                        color: #EAEAEA;

                                    }
                                }
                            }
                        }

                        .price {
                            h3 {
                                font-size: 16px;
                                font-weight: 500;
                                line-height: 16px;
                                text-align: left;
                                color: #727272;
                            }
                        }

                        .total {
                            h3 {
                                font-size: 16px;
                                font-weight: 700;
                                line-height: 16px;
                                text-align: left;
                                color: #46A358;
                            }
                        }

                        .bin {
                            button {
                                svg {
                                    width: 15px;
                                    height: 15px;
                                }
                            }
                        }

                        .count {
                            display: flex;
                            align-items: center;

                            button {
                                width: 30px;
                                height: 30px;
                                border: 1px solid #46A358;
                                color: #fff;
                                font-size: 20px;
                                cursor: pointer;
                                border-radius: 50%;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                padding: 5px;
                            }

                        }

                    }
                }

            }
        }

        &_total {
            max-width: 328px;
            width: 100%;

            &_title {
                border-bottom: 1px solid #46A35880;

                h2 {
                    font-size: 18px;
                    font-weight: 700;
                    line-height: 16px;
                    text-align: left;
                    color: #3D3D3D;
                    margin-bottom: 10px;
                }
            }



            &_elem {
                margin-top: 20px;

                &_title {
                    display: flex;
                    justify-content: space-between;
                    margin-top: 15px;

                    h3 {
                        font-size: 15px;
                        font-weight: 400;
                        line-height: 16px;
                        text-align: left;
                        color: #3D3D3D;
                    }

                    p {
                        font-size: 16px;
                        font-weight: 500;
                        line-height: 16px;
                        text-align: right;
                        color: #3D3D3D;

                    }


                }

                &_titles {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    margin-top: 50px;

                    h2 {
                        font-size: 18px;
                        font-weight: 700;
                        line-height: 16px;
                        text-align: left;
                        color: #3D3D3D;
                    }

                    p {
                        font-size: 18px;
                        font-weight: 700;
                        line-height: 16px;
                        text-align: right;
                        color: #46A358;

                    }
                }

                &_btns {
                    margin-top: 29px;

                    button {
                        padding: 12px 105px;
                        font-size: 13px;
                        color: #FFFFFF;
                        font-weight: 500;
                        line-height: 16px;
                    }
                }

                &_btn {
                    text-align: center;
                    margin-top: 14px;

                    button {
                        font-size: 15px;
                        font-weight: 400;
                        line-height: 16px;
                        text-align: center;
                        color: #46A358;
                    }
                }
            }
        }


        &_bottom {
            width: 100%;
            margin-top: 30px;
            display: none;

            &_title {
                border-bottom: 1px solid #46A35880;

                h2 {
                    font-size: 18px;
                    font-weight: 700;
                    line-height: 16px;
                    text-align: left;
                    color: #3D3D3D;
                    margin-bottom: 10px;
                }
            }



            &_elem {
                margin-top: 20px;

                &_title {
                    display: flex;
                    justify-content: space-between;
                    margin-top: 15px;

                    h3 {
                        font-size: 15px;
                        font-weight: 400;
                        line-height: 16px;
                        text-align: left;
                        color: #3D3D3D;
                    }

                    p {
                        font-size: 16px;
                        font-weight: 500;
                        line-height: 16px;
                        text-align: right;
                        color: #3D3D3D;

                    }


                }

                &_titles {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    margin-top: 50px;

                    h2 {
                        font-size: 18px;
                        font-weight: 700;
                        line-height: 16px;
                        text-align: left;
                        color: #3D3D3D;
                    }

                    p {
                        font-size: 18px;
                        font-weight: 700;
                        line-height: 16px;
                        text-align: right;
                        color: #46A358;

                    }
                }

                &_btns {
                    margin-top: 29px;

                    button {
                        width: 100%;
                        height: 40px;
                        font-size: 15px;
                        color: #FFFFFF;
                        font-weight: 500;
                        line-height: 16px;
                        border-radius: 30px;
                        background: linear-gradient(93.21deg, #46A358 -3.96%, rgba(70, 163, 88, 0.8) 121.97%);

                    }
                }

                &_btn {
                    text-align: center;
                    margin-top: 14px;

                    button {
                        font-size: 15px;
                        font-weight: 400;
                        line-height: 16px;
                        text-align: center;
                        color: #46A358;
                    }
                }
            }
        }
    }

    &_mini {
        max-height: 450px;
        margin-top: 5px;
        overflow: auto;
        width: 100%;
        display: none;

        &::-webkit-scrollbar {
            display: none;
        }

        scrollbar-width: none;

        &_item {
            display: flex;
            align-items: center;
            justify-content: space-between;
            border-radius: 30px;
            box-shadow: 0px 6px 20px 0px #D2D2D240;
            background: linear-gradient(93.11deg, #FFFFFF -0.94%, #FFFFFF 105.02%);
            height: 100px;
            margin-top: 30px;

            &_product {
                padding: 8px;
                width: 100%;

                &_pri {
                    display: flex;
                    justify-content: space-between;
                    gap: 20px;
                    padding: 5px;

                    .count {
                        display: flex;
                        align-items: center;

                        button {
                            width: 30px;
                            height: 30px;
                            border: 1px solid #46A358;
                            color: #fff;
                            font-size: 20px;
                            cursor: pointer;
                            border-radius: 50%;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            padding: 5px;
                        }

                    }

                    .title {
                        width: 100%;

                        h4 {
                            font-size: 18px;
                            font-weight: 500;
                            line-height: 16px;
                            text-align: left;
                            color: #3D3D3D;
                        }
                    }
                }

                .price {
                    margin-left: 10px;

                    h3 {
                        font-size: 18px;
                        font-weight: 700;
                        line-height: 16px;
                        text-align: left;

                        color: #46A358;
                    }
                }
            }

            &_elem {
                margin-top: 4px;

                img {
                    background: #FBFBFB;
                    width: 100px;
                    border-radius: 30px 0 0 30px;
                }

            }
        }

    }
}



.card {
    margin-top: 87px;

    &_item {
        &_title {
            border-bottom: 1px solid #46A35880;
            padding-bottom: 10px;

            h2 {
                font-size: 17px;
                font-weight: 700;
                line-height: 16px;
                text-align: left;
                color: #46A358;
            }
        }

        &_slider {
            margin-top: 45px;
        }
    }
}


.footer {
    margin-top: 100px;
}

@media(max-width:1155px) {
    .cart {
        &_item {
            &_total {
                display: none;
            }

            &_bottom {
                display: block;
            }
        }
    }

}

@media(max-width:1135px) {
    .footer {
        display: none;
    }
}

@media(max-width:795px) {
    .infor_none {
        display: none;
    }

    .elem_none {
        display: none;
    }

    .cart {
        &_mini {
            display: block;
        }
    }

}

@media(max-width:780px) {
    .breadcrumbs {
        display: none;
    }

    .cart {
        .title {
            display: block;
        }


    }


    .header {
        display: none;
    }

    .card {
        display: none;
    }


}