.header {
    margin-top: 20px;
    border-bottom: 0.3px solid #46A35880;
    padding-bottom: 8px;

    &_item {
        display: flex;
        align-items: center;
        justify-content: space-between;

        &_logo {
            img {
                max-width: 150px;
                width: 100%;
            }
        }

        .filter {
            background: linear-gradient(137.05deg, rgba(70, 163, 88, 0.45) -24.6%, #46A358 100%);
            width: 40px;
            height: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 15px;

            img {
                width: 25px;
                height: 25px;
            }
        }

        .block {
            display: none;
        }

        &_nav {
            nav {
                ul {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    gap: 45px;

                    li {
                        a {
                            font-size: 16px;
                            font-weight: 500;
                            line-height: 20.11px;
                            text-align: left;
                            color: #3D3D3D;
                            position: relative;

                            &:hover {
                                color: #46A358;
                                font-weight: 800;
                            }

                            &::before {
                                content: '';
                                position: absolute;
                                left: 50%;
                                bottom: -20px;
                                width: 0;
                                height: 3px;
                                background-color: #46A358;
                                transition: width 0.5s ease, left 0.5s ease;
                            }

                            &:hover::before {
                                width: 100%;
                                left: 0;
                            }
                        }

                        a.active::before {
                            width: 100%;
                            left: 0;
                            transition: 0.5s;
                        }

                        a.active {
                            font-weight: 800;
                            color: #46A358;
                        }

                    }
                }
            }
        }

        &_navigation {
            display: flex;
            align-items: center;
            gap: 20px;

            &_cart {
                position: relative;

                a {
                    color: #3D3D3D;
                    display: flex;

                    img {
                        cursor: pointer;
                        width: 30px;
                        height: 30px;
                    }

                }

                .count {
                    background-color: #46A358;
                    border-radius: 50%;
                    width: 15px;
                    height: 15px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding-top: 2px;
                    position: absolute;
                    top: 0;
                    right: -4px;
                    border: 2px solid #FFFFFF;

                    span {
                        font-size: 10px;
                        font-weight: 500;
                        line-height: 12.57px;
                        text-align: left;
                        color: #FFFFFF;
                    }
                }

            }



            &_wish {
                margin-top: 12px;
                position: relative;

                a {
                    img {
                        width: 30px;
                        height: 30px;
                    }
                }

                .counts {
                    background-color: #46A358;
                    border-radius: 50%;
                    width: 15px;
                    height: 15px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding-top: 2px;
                    position: absolute;
                    top: 0;
                    right: -3px;
                    border: 2px solid #FFFFFF;

                    span {
                        font-size: 10px;
                        font-weight: 500;
                        line-height: 12.57px;
                        text-align: left;
                        color: #FFFFFF;
                    }
                }
            }

            button {
                padding: 10px 25px;
                display: flex;
                align-items: center;
                font-size: 16px;
                font-weight: 500;

                img {
                    max-width: 25px;
                }
            }
        }

        &_bottom {
            width: 100%;
            position: relative;

            &_nav {
                background-color: #FFFFFF;
                box-shadow: 0px -10px 30px 0px #B8B8B833;
                width: 100%;
                // height: 70px;
                border-radius: 20px 20px 0 0;
                position: fixed;
                padding: 20px;
                bottom: 0;
                z-index: 9999;
                left: 0;

                nav ul {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    li {
                        a {
                            img {
                                width: 40px;
                                height: 40px;
                            }
                        }
                    }
                }
            }
        }

        .bottom_block {
            display: none;
        }
    }

    .avatar {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        // img{
        //      width: 50px;
        // height: 50px;
        // border-radius: 50%; 
        // }

    }
}

@media(max-width:780px) {
    .header {
        border-bottom: none;

        &_item {
            &_logo {
                display: none;
            }

            .block {
                display: flex;
            }

            .nav_block {
                display: none;
            }

            .navigation_none {
                display: none;
            }

            .bottom_block {
                display: flex;
            }
        }
    }
}