

.sidebar {
    background: rgba(251, 251, 251, 1);
    width: 310px;
    height: 400px;
    padding: 10px;
    h4 {
        font-size: 18px;
        font-weight: 700;
        color: rgba(61, 61, 61, 1);
    }

    &__nav {
        margin-top: 15px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: 310px;
        // width: 100%;

        a {
            text-decoration: none;
            display: flex;
            gap: 10px;
            color: rgba(114, 114, 114, 1);
            transition: color 0.3s ease;
            padding: 10px;
            position: relative;

            &::before {
                content: '';
                position: absolute;
                left: -10px;
                top: 50%;
                transform: translateY(-50%);
                width: 4px;
                height: 100%;
                background-color: transparent;
                transition: background-color 0.3s ease;
            }

            &:hover {
                background: white;
                color: #4CAF50;

                &::before {
                    background-color: #4CAF50;
                }
            }
        }

        .logout {
            border-top: 1px solid rgba(234, 234, 234, 1);
            width: 100%;
            color: rgba(70, 163, 88, 1);
            margin-top: 10px;
            padding-top: 10px;
            background: transparent;
            text-align-last: left;
            display: flex;
            align-items: center;
            gap: 5px;
            cursor: pointer;
        }

        .active {
            background: white;
            color: #4CAF50;

            &::before {
                background-color: #4CAF50;
            }
        }
    }
}
