.footer {
    &_item {
        p {
            text-align: center;
        }

        &_infor {
            background: #FBFBFB;
            padding: 40px;
            display: flex;
            justify-content: space-between;
            border-top: 1px solid #46A3581A;

            &_cards {
                display: flex;
                align-items: center;
                justify-content: space-between;
                gap: 40px;

                &_card {
                    // &::after {
                    //     content: '';
                    //     position: absolute;
                    //     left: 50%;
                    //     bottom: -20px;
                    //     width: 1px;
                    //     height: 100px;
                    //     background-color: #46A358;
                    // }

                    // &:last-child::after {
                    //     display: none;
                    // }


                    .green {
                        position: relative;

                        img {
                            width: 74px;
                            height: 74px;
                            position: absolute;
                            top: 15px;
                            left: -15px;
                        }
                    }


                    &_infor {
                        width: 204px;

                        h4 {
                            font-size: 17px;
                            font-weight: 700;
                            line-height: 16px;
                            text-align: left;
                            color: #3D3D3D;
                        }

                        p {
                            font-size: 14px;
                            font-weight: 400;
                            line-height: 22px;
                            text-align: left;
                            color: #727272;
                            margin-top: 10px;
                        }
                    }
                }
            }

            &_email {
                &_infor {
                    h2 {
                        font-size: 18px;
                        font-weight: 700;
                        line-height: 16px;
                        text-align: left;
                        color: #3D3D3D;
                    }

                    &_input {
                        margin-top: 20px;
                        width: 375px;
                        border-radius: 0 0 8px 8px;

                        label {
                            display: flex;

                            input {
                                outline: none;
                                border: none;
                                padding: 10px;
                                width: 300px;
                                font-size: 12px;
                                font-weight: 400;
                                line-height: 16px;
                                text-align: left;
                                color: #ACACAC;
                            }

                            button {
                                padding: 6px 25px;
                                border-radius: 0 8px 8px 0px;
                            }
                        }
                    }
                }

                p {
                    width: 354px;
                    font-size: 12px;
                    font-weight: 400;
                    line-height: 22px;
                    text-align: left;
                    margin-top: 20px;
                    color: #727272;
                }
            }
        }

        &_logo {
            border-bottom: 1px solid #46A358;
            border-top: 1px solid #46A358;
            background: #46A3581A;
            height: 88px;
            padding: 25px;

            &_elem {
                display: flex;
                align-items: center;
                gap: 85px;

                p {
                    display: flex;
                    gap: 10px;
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 22px;
                    text-align: left;
                    color: #3D3D3D;

                    svg {
                        width: 20px;
                        height: 20px;
                        color: #46A358;
                    }
                }


            }
        }

        &_account {
            background-color: #FBFBFB;
            border-bottom: 1px solid #46A35833;

            &_elem {
                display: flex;
                justify-content: space-between;
                padding: 20px;

                &_nav {
                    h4 {
                        font-size: 16px;
                        font-weight: 700;
                        line-height: 16px;
                        text-align: left;
                        color: #3D3D3D;
                    }

                    nav {
                        ul {
                            margin-top: 10px;

                            li {
                                a {
                                    font-size: 14px;
                                    font-weight: 400;
                                    line-height: 30px;
                                    text-align: left;
                                    color: #3D3D3D;

                                    &:hover {
                                        color: #46A358;
                                    }
                                }
                            }
                        }
                    }
                }

                &_media {
                    h2 {
                        font-size: 18px;
                        font-weight: 700;
                        line-height: 16px;
                        text-align: left;
                        color: #3D3D3D;

                    }

                    &_icons {
                        display: flex;
                        gap: 20px;
                        margin-top: 20px;
                        height: 40px;

                        &_icon {
                            border: 1px solid #46A35833;
                            padding: 5px;
                            border-radius: 8px;
                            cursor: pointer;

                            a {
                                svg {
                                    color: #46A35899;

                                }
                            }
                        }
                    }

                    h3 {
                        font-size: 18px;
                        font-weight: 700;
                        line-height: 16px;
                        text-align: left;
                        color: #3D3D3D;
                        margin-top: 20px;
                    }

                    .img {
                        margin-top: 10px;
                        display: flex;
                        align-items: center;
                    }
                }
            }
        }

        .text {
            p {
                margin-top: 20px;
                font-size: 14px;
                font-weight: 400;
                line-height: 30px;
                text-align: center;
                color: #3D3D3D;
            }
        }
    }
}