$primary-font-family: 'Mukta', sans-serif;
$primary-bg-button: #46A358;
$primary-bg-color: #FFFFFF;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1253px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

a,
li,
ul,
h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
    text-decoration: none;
    font-family: $primary-font-family;
    list-style: none;
}


button {
    border: none;
    background: transparent;
    font-family: $primary-font-family;
    cursor: pointer;
}

.pag_active_nav {
    background-color: #46A358;
    color: white;
}


body {
    overflow: auto;

    &::-webkit-scrollbar {
        display: none;
    }
}
